<!DOCTYPE html><html><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width"><title>
    Solside - a simple IDE and file manager for Solid Data Stores
</title>
<!--
  libraries from remote CDN
      solid-auth-client,solid-file-client,mimer,vue,ace
  local files 
      solidHandler, solidSession, editor, solid-file-client
-->
<script src="https://cdn.jsdelivr.net/npm/solid-auth-client@2.3.0/dist-lib/solid-auth-client.bundle.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/solid-file-client@1.0.2/dist/window/solid-file-client.bundle.js"></script> -->
<script src="./dist/window/solid-file-client.bundle.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/mimer@1.0.0/dist/mimer.min.js"></script> --->
<script src="./dist/mimer.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jszip@3.2.2/dist/jszip.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.1/ace.js"></script>
<script src="./solid-ide-solidHandler.js"></script>
<script src="./solid-ide-solidSession.js"></script>
<script src="./solid-ide-editor.js"></script>
<script src="./solid-ide-zipHandler.js"></script>
<script src="./solid-ide-apiCache.js"></script>
<link rel="stylesheet" href="./assets/main.css">
</head>
<body>

<div id="app">

<div id="opt" class="topRow table" v-bind:class="fontSize"><span class="tr">
    <span class="td left">
        <input type="text" v-model="currentThing.url" v-on:change="view.refresh(currentThing.url)">
        <button v-on:click="view.refresh(currentThing.url)">go</button>
</span>
    <span class="td right">
    <button id="saveEdits" v-on:click="fileDisplay.saveEdits()">
        save edits
    </button>
    <button id="editDisabled">save edits</button>
    <button v-on:click="fileDisplay.togglePanes()">
        view
    </button>
    <button id="optionsButton" v-on:click="view.show('optionsManager')">
        options
    </button>
    <button id="helpButton" v-on:click="view.show('help')">help</button>
    </span>
</span></div><!-- opt -->

<div id="folderMenu" v-bind:class="fontSize">
    <button v-on:click="manageResource(folder)" class="docIcon" v-bind:class="canControl()">
    <img src="./assets/folder.png">
    </button>
<!-- --->
    <button v-on:click="get(getLink(folder, 'acl'))" class="docIcon" v-bind:class="canControlLink(folder, 'acl')">
        <img src="./assets/padlock-timbl.svg">
    </button>
    <button v-on:click="get(getLink(folder, 'meta'))" class="docIcon" v-bind:class="canControlLink(folder, 'meta')">
        <img src="./assets/document.png">
    </button>
<!-- --->
    <button class="fileName" v-on:click="get(folder)">
        <span id="currentFolder">{{decodeURIComponent(folder.name)}}</span>
    </button>

    <ul>
        <li v-for="subFolder in folder.folders">
            <button class="docIcon">
                <img src="./assets/folder.png" />
            </button>
            <button class="fileName" v-on:click="get(subFolder)">
                {{decodeURIComponent(subFolder.name)}}
            </button>
        </li>
    </ul>
    <hr>
    <ul>
        <li v-for="f in folder.files">
            <button v-on:click="manageResource(f)" class="docIcon" v-bind:class="canControl()"><img src="./assets/document.png"></button>
<!--            <button v-on:click="rm(f)" class="docIcon" v-bind:class="canControl()"
                <img src="./assets/document.png">
            </button> --->
	        <button v-on:click="get(getLink(f, 'acl'))" class="docIcon" v-bind:class="canControlLink(f, 'acl')">	            <img src="./assets/padlock-timbl.svg">
	        </button>
<!--             <button class="fileName" oncontextmenu="return false;" v-on:click.right.prevent="downloadItem(f)" v-on:click="get(f)" v-bind:title="decodeURIComponent(f.name)+' '+f.type">
                {{decodeURIComponent(f.name)}}
            </button>
-->
            <button class="fileName" v-on:click="get(f)" v-bind:title="decodeURIComponent(f.name)+' '+f.type">
                {{decodeURIComponent(f.name)}}
            </button>
        </li>
    </ul>
</div><!-- folderMenu -->

<div id="fileManager" class="formArea">
    <div class="cancel-icon">
        <button v-on:click="view.hide('fileManager')" 
           class="xIcon" title="Cancel"> X 
        </button>
    </div>
    <div>File : <em>{{decodeURI(file.url)}}</em></div>
    <button v-on:click="zip(file)">zip file</button>
    <button v-on:click="unzip(file)">unzip file</button>
    <button v-on:click="rm(file)">delete file</button>
	<button v-bind:href="file.url" v-on:click.prevent="downloadItem(file)">download file</button>
<!--
<button v-bind:href="file.url" v-on:click.prevent="downloadItem(file)"><em>{{decodeURI(file.name)}}</em></button>
	<a v-bind:href="file.url" v-text="decodeURIComponent(file.name)" v-on:click.prevent="downloadItem(file)" oncontextmenu="return false;" >{{decodeURI(file.name)}}</a> -->
<hr>
    <div>
        <label>new folder :</label>
        <input v-model="newThing.parentFolder"
               placeholder=" full path (leave blank to copy/move within same folder)"
        />
    </div>
    <div>
        <label>new name :</label>
        <input v-model="newThing.name"
               placeholder=" name with extension, without path"
value="{{decodeURI(file.name)}}"
        />

    <p class="right-justify">

<div v-bind:class="displayControls('table')"><div class="tr center">
<span class="td">
    <div>withAcl</div>
    <select v-model="withAcl" v-on:change="setWithAcl()" size="2">
        <option>true</option>
        <option>false</option>
    </select>
</span>
</div></div>

        <button v-on:click="cp(file, 'copy')">copy file</button>
        <button v-on:click="cp(file, 'move')">move file</button>
    </p>
    </div>
</div><!-- fileManager -->

<div id="folderManager" class="formArea">
    <div class="cancel-icon">
        <button v-on:click="view.hide('folderManager')" 
         class="xIcon" title="Cancel"> X </button>
    </div>
    <div>Folder : <em>{{decodeURI(folder.url)}}</em></div>

		<button v-on:click="zip(folder)">zip folder</button>
		<button v-on:click="rm(folder)">delete folder</button>
    <hr>
<div>
<label>new name</label>
   <input v-model="newThing.name" placeholder=" (without path)">
</div>
<p class="right-justify">
    <label>in this folder </label>
    <button v-on:click="addThing('file')">create new file</button>
    <button v-on:click="addThing('folder')">create new folder</button></p>
    <hr>
<div>
<label>new folder</label>
   <input v-model="newThing.folder" placeholder=" (with full path)">
</div>
<p class="right-justify">
	<button v-on:click="cp('folder', 'copy')">copy folder</button>
    <button v-on:click="cp('folder', 'move')">move folder</button>
</p>
<div v-bind:class="displayControls('table')"><div class="tr center">
<span class="td">
    <div>withAcl</div>
    <select v-model="withAcl" v-on:change="setWithAcl()" size="2">
        <option>true</option>
        <option>false</option>
    </select>
</span>
<span class="td">
    <div>Agent mode</div>
    <select v-model="agentMode" v-on:change="setAgentMode()" size="2">
        <option>no_modify</option>
        <option>to_source</option>
        <option>to_target</option>
    </select>
</span>
<span class="td">
    <div>Merge mode</div>
    <select v-model="mergeMode" v-on:change="setMergeMode()" size="2">
        <option>replace</option>
        <option>keep_source</option>
        <option>keep_target</option>
    </select>
</span>
</div></div>

<hr>
<label>upload file(s) in this folder</label>
	<input type="file" id="upFile" name="upFile" multiple size="100"> <button v-on:click="upload(folder)">upload</button>
</div><!-- folderManager -->

<div id="optionsManager" class="formArea">
    <div class="cancel-icon">
        <button v-on:click="view.hide('optionsManager')"
           class="xIcon" title="Cancel"> X 
        </button>
    </div>

<div class="table">
    <div class="tr">
        <span class="td">logged in as</span>
        <span class="td left">
            {{webId}}
            <button v-on:click="setLogState()">{{logState}}</button>
            <button id="profileButton" v-on:click="getProfile()">edit profile</button>
        </span>
    </div>
    <div class="tr">
        <span class="td">home URL</span>
        <span class="td"><input v-model="homeUrl">
        <button v-on:click="get(homeUrl)">go home</button>
        </span>
    </div>
</div><!-- table -->
<div class="table"><div class="tr center">
<span class="td">
    <div>Key Bindings</div>
    <select v-model="editKeys" v-on:change="setEditKeys()" size="2">
        <option>emacs</option>
        <option>vim</option>
    </select>
</span>
<span class="td">
    <div>Syntax Highlighting</div>
    <select v-model="editTheme" v-on:change="setEditTheme()" size="2">
        <option>light theme</option>
        <option>dark theme</option>
    </select>
</span>
<span v-bind:class="displayControls('td')">
    <div>Display Links</div>
    <select v-model="displayLinks" v-on:change="setDisplayLinks()" size="3">
        <option>exclude</option>
        <option>include</option>
        <option>include_possible</option>
    </select>
</span>

</div></div>
<hr>
     <button v-on:click="storePrefs()">save preferences</button>
     <a type="button" target="_blank" href="mailto:dubzed@gmail.com">send feedback</a>

</div><!-- optionsManager -->

<div id="help" class="formArea"> <!-- help -->
    <div class="cancel-icon">
        <button v-on:click="view.hide('help')"
           class="xIcon" title="Cancel"> X 
        </button>
    </div>
<ul>
    <li><span class="label">open a folder</span> : click on its name</li>
<li><span class="label">
view, edit, or cut and paste from a file</span> : click on its name</li>
<li><span class="label">
view any Solid URL</span> : enter the URL in the input bar</li>
<li><span class="label">
login, logout, go home, edit profile, set editor prefs</span> : options button</li>
<li><span class="label">
toggle viewing data only, editor only, split screen</span> : view button</li>
<li><span class="label">
save editing</span> : click on the save edits button</li>
<li><span class="label">
cancel editing</span> : open any other file or folder</li>
<li><span class="label">
create new file or folder</span> : click on the current folder's icon</li>
<li><span class="label">
copy,move,delete,download file</span> : click on the file's icon</li>
<li><span class="label">
copy,move,delete,upload into folder</span> : move into the folder, click on its icon</li>
</ul>
</div><!-- end help -->

</div><!-- app -->


<!--
   FILE DISPLAY & EDITOR & DATA-BROWSER
-->
<div id="fileDisplay" class="rightCol flex-item" v-bind:class="displayState">
    <iframe id="dataBrowser" v-bind:src="file.srcUrl">
    </iframe>
    <div id="editor" style="font-family: Monaco, monospace !important">
    </div>
</div><!-- fileDisplay -->

<script src="./solid-ide.js"></script>

</body>
</html>
