<!DOCTYPE html><html><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width"><title>
    Solside - a simple IDE and file manager for Solid Data Stores
</title>
<!--
  libraries from remote CDN
      solid-auth-client,solid-file-client,mimer,vue,ace
  local files 
      solidHandler, solidSession, editor, solid-file-client
-->
<script src="https://cdn.jsdelivr.net/npm/solid-auth-client@2.3.0/dist-lib/solid-auth-client.bundle.js"></script>
<script src="https://cdn.jsdelivr.net/npm/solid-file-client@1.2.5/dist/window/solid-file-client.bundle.js"></script>
<!-- <script src="./dist/window/solid-file-client.bundle.js"></script> -->
<!-- <script src="https://cdn.jsdelivr.net/npm/mimer/dist/mimer.min.js"></script> -->
<script type='module'>import mime from "https://cdn.skypack.dev/mime"; window.mime = mime</script>
<!-- <script src="./dist/mimer.min.js"></script> --->
<script src="https://cdn.jsdelivr.net/npm/jszip@3.2.2/dist/jszip.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.1/ace.js"></script>
<script src="./solid-ide-renamePod.js"></script>
<script src="./solid-ide-solidHandler.js"></script>
<script src="./solid-ide-solidSession.js"></script>
<script src="./solid-ide-editor.js"></script>
<link rel="stylesheet" href="./assets/main.css">
<style>
#folderManager {
  display:none;
  min-width:600px;
  min-height:200px;
}

#folderManager button {
    margin-left:0.5em;
}
/*select {
    overflow:hidden;
}
*/
input.plain {
    width:auto;
}
.inputDisplay {
    display:none;
}
#newFile.inputDisplay {
    display:block;
}


</style>
</head>
<body>

<div id="app">

<div id="opt" class="topRow table" v-bind:class="fontSize"><span class="tr">
    <span class="td left">
        <input type="text" v-model="currentThing.url" v-on:change="view.refresh(currentThing.url)">
        <button v-on:click="view.refresh(currentThing.url)">go</button>
</span>
    <span class="td right">
    <button id="saveEdits" v-on:click="fileDisplay.saveEdits()">
        save edits
    </button>
    <button id="editDisabled">save edits</button>
    <button v-on:click="fileDisplay.togglePanes()">
        view
    </button>
    <button id="optionsButton" v-on:click="view.show('optionsManager')">
        options
    </button>
    <button id="helpButton" v-on:click="view.show('help')">help</button>
    </span>
</span></div><!-- end opt -->

<div id="folderMenu" v-bind:class="fontSize">
    <button v-on:click="manageResource(folder)" class="docIcon" v-bind:class="canControl(folder)">
    <img src="./assets/folder.png">
    </button>
<!-- --->
    <button v-on:click="get(getLink(folder, 'acl'))" class="docIcon" v-bind:class="canControlLink(folder, 'acl')">
        <img src="./assets/padlock-timbl.svg">
    </button>
    <button v-on:click="get(getLink(folder, 'meta'))" class="docIcon" v-bind:class="canControlLink(folder, 'meta')">
        <img src="./assets/document.png">
    </button>
<!-- --->
    <button class="fileName" v-on:click="get(folder)">
        <span id="currentFolder">{{decodeURIComponent(folder.name)}}</span>
    </button>

    <ul>
        <li v-for="subFolder in folder.folders">
            <button class="docIcon">
                <img src="./assets/folder.png" />
            </button>
            <button class="fileName" v-on:click="get(subFolder)">
                {{decodeURIComponent(subFolder.name)}}
            </button>
        </li>
    </ul>
    <hr>
    <ul>
        <li v-for="f in folder.files">
            <button v-on:click="manageResource(f)" class="docIcon" v-bind:class="canControl(f)"><img src="./assets/document.png"></button>
	        <button v-on:click="get(getLink(f, 'acl'))" class="docIcon" v-bind:class="canControlLink(f, 'acl')"><img src="./assets/padlock-timbl.svg">
	        </button>
            <button class="fileName" v-on:click="get(f)" v-bind:title="decodeURIComponent(f.name)+' '+f.type">
                {{decodeURIComponent(f.name)}}
            </button>
        </li>
    </ul>
</div><!-- end folderMenu -->

<div id="fileManager" class="formArea">
    <div class="cancel-icon">
        <button v-on:click="view.hide('fileManager')" 
           class="xIcon" title="Cancel"> X 
        </button>
    </div>
    <div>File : <em>{{decodeURI(file.url)}}</em></div>
  <select id="fileOptions" v-model="fileOptions" v-on:change="showFileOption()" size=9>
    <option value="downloadFile" selected>download file</option>
    <option value="copyFile">copy file</option>
    <option value="moveFile">move file</option>
    <option value="patchFile">patch_to file</option>
    <option value="deleteFile">delete file</option>
    <option value="zipFile">zip file</option>
    <option value="unzipFile">unzip File</option>
    <option>----------------</option>
    <option value="createAcl">create file acl</option>
    <option value="deleteAcl">delete file acl</option>    
  </select>
	<div>
	  <details id="mergeOptionsFile" class="inputDisplay">
	    <summary>merge options</summary>
	    <select v-model="mergeMode" v-on:change="setMergeMode()" size="3">
			  <option value="mergeReplace" selected>source replace target</option>
			  <option value="mergeSource">source plus items found only in target</option>
			  <option value="mergeTarget">keep target, add items found only in source</option>
		  </select>
	  </details>
	  <details id="aclOptionsFile" class="inputDisplay">
	    <summary>acl options</summary>
	    <select v-model="withAcl" v-on:change="setWithAcl()" size="2">
			  <option value="true" selected>include acl</option>
			  <option value="false">exclude acl</option>
	  	</select>
		</span>
	</div>
  </p>
  <p id="copyFile" class="right-justify inputDisplay">
    <label>new folder :</label>
    <input id="copyFileInput" v-model="newThing.parentFolder" placeholder=" full path (leave blank to copy/move within same folder)">
    <br>
    <label>new name :</label>
    <input v-model="newThing.name" 
	    placeholder=" (new file name with extension, without path)"
	    value="{{decodeURI(file.name)}}">
  	<br><button v-on:click="cp(file, 'copy')">copy</button>
  </p>

  <p id="moveFile" class="right-justify inputDisplay">
<!--    <input id="moveFileInput" placeholder=" (new folder location, full path)"> --->
    <label>new folder :</label>
    <input id="moveFileInput" v-model="newThing.parentFolder" placeholder=" full path (leave blank to copy/move within same folder)">
    <br><label>new name :</label>
    <input v-model="newThing.name" 
	    placeholder=" (new file name with extension, without path)"
	    value="{{decodeURI(file.name)}}">
    <br><button v-on:click="cp(file, 'move')">move</button>
  </p>
  <p id="patchFile" class="right-justify inputDisplay">
    <label>new folder :</label>
    <input id="patchFileInput" v-model="newThing.parentFolder" placeholder=" full path (leave blank to patch a file within same folder)">
    <br><label>new name :</label>
    <input v-model="newThing.name" 
	    placeholder=" (patch_to file name with extension, without path)"
	    value="{{decodeURI(file.name)}}">
    <br><button v-on:click="cp(file, 'patch')">patch</button>
  </p>
  <p id="zipFile" class="right-justify inputDisplay">
  <button v-on:click="zip(file)">zip</button>
  </p>
  <p id="unzipFile" class="right-justify inputDisplay">
  <button v-on:click="unzip(file)">unzip</button>
  </p>
  <p id="downloadFile" class="right-justify inputDisplay">
	<button v-bind:href="file.url" v-on:click.prevent="downloadItem(file)">download</button>
	</p>
</div><!-- end fileManager -->
    

<div id="folderManager" class="formArea">
  <div class="cancel-icon">
      <button v-on:click="view.hide('folderManager')" 
       class="xIcon" title="Cancel"> X </button>
  </div>
  <div>Folder : <em>{{decodeURI(folder.url)}}</em></div>
  <select id="folderOptions" v-model="folderOptions" v-on:change="showFolderOption()" size=13>
    <option value="newFile" selected>create new file</option>
    <option value="newFolder">create new folder</option>
    <option value="uploadToFolder">upload files</option>
    <option value="deleteFolder">delete folder</option>
    <option value="copyFolder">copy folder</option>
    <option value="moveFolder">move folder</option>
    <option value="zipFolder">zip folder</option>
    <option>-------------------</option>
    <option value="createAcl">create folder acl</option>
    <option value="deleteAcl">delete folder acl</option>    
    <option>-------------------</option>
    <option value="testRenamePod">test solid.community</option>
    <option value="renamePod">rename solid.community</option>
  </select>
  <p id="newFile" class="right-justify inputDisplay">  
    <input id="newFileInput" placeholder=" (new file name, without path)">
    <button v-on:click="doAction('newFile')">go</button>
  </p>
  <p id="newFolder" class="right-justify inputDisplay">
    <input id="newFolderInput" placeholder=" (new folder name, without path)">
    <button v-on:click="doAction('newFolder')">go</button>
  </p>
  <details id="mergeOptionsFolder" class="inputDisplay">
  	<summary>merge options</summary>
    <select v-model="mergeMode" v-on:change="setMergeMode()" size="3">
	  <option value="mergeReplace" selected>source replace target</option>
	  <option value="mergeSource">source plus items found only in target</option>
	  <option value="mergeTarget">keep target, add items found only in source</option>
	  </select>
  </details>
  <details id="aclOptionsFolder" class="inputDisplay">
  	<summary>withAcl options</summary>
	  <select v-model="withAcl" v-on:change="setWithAcl()" size="2">
	  <option value="true" selected>include acl</option>
	  <option value="false">exclude acl</option>
	  </select>
  </details>
  <p id="copyFolder" class="right-justify inputDisplay">
    <input id="copyFolderInput" placeholder=" (new folder location, full path)">
    <button v-on:click="doAction('copyFolder')">go</button>
  </p>
  <p id="moveFolder" class="right-justify inputDisplay">
    <input id="moveFolderInput" placeholder=" (new folder location, full path)">
    <button v-on:click="doAction('moveFolder')">go</button>
  </p>
  <p id="uploadToFolder" class="right-justify inputDisplay">
  <input type="file" id="uploadToFolderInput" name="uploadToFolderInput" multiple="multiple" size="100">
  <button v-on:click="doAction('uploadToFolder')">go</button>
  </p>
  <p id="zipFolder" class="right-justify inputDisplay">
  <button v-on:click="zip(folder)">zip</button>
  </p>

</div><!--  end folderManager -->

<div id="optionsManager" class="formArea">
    <div class="cancel-icon">
        <button v-on:click="view.hide('optionsManager')"
           class="xIcon" title="Cancel"> X 
        </button>
    </div>

<div class="table">
    <div class="tr">
        <span class="td">logged in as</span>
        <span class="td left">
            {{webId}}
            <button v-on:click="setLogState()">{{logState}}</button>
            <button id="profileButton" v-on:click="getProfile()">edit profile</button>
        </span>
    </div>
    <div class="tr">
        <span class="td">home URL</span>
        <span class="td"><input v-model="homeUrl">
        <button v-on:click="get(homeUrl)">go home</button>
        </span>
    </div>
</div>
<div class="table"><div class="tr center">
<span class="td">
    <div>Key Bindings</div>
    <select v-model="editKeys" v-on:change="setEditKeys()" size="2">
        <option>emacs</option>
        <option>vim</option>
    </select>
</span>
<span class="td">
    <div>Syntax Highlighting</div>
    <select v-model="editTheme" v-on:change="setEditTheme()" size="2">
        <option>light theme</option>
        <option>dark theme</option>
    </select>
</span>
<span v-bind:class="displayControls('td')">
    <div>Display Links</div>
    <select v-model="displayLinks" v-on:change="setDisplayLinks()" size="2">
        <option>exclude</option>
        <option>include</option>
<!--        <option>include_possible</option> --->
    </select>
</span>

</div></div>
<hr>
     <button v-on:click="storePrefs()">save preferences</button>
     <a type="button" target="_blank" href="mailto:dubzed@gmail.com">send feedback</a>

</div><!-- end optionsManager -->

<div id="help" class="formArea"> <!-- help -->
  <div class="cancel-icon">
    <button v-on:click="view.hide('help')"
      class="xIcon" title="Cancel"> X 
    </button>
  </div>
	<ul>
    <li><span class="label">open a folder</span> : click on its name</li>
		<li><span class="label">
		view, edit, or cut and paste from a file</span> : click on its name</li>
		<li><span class="label">
		view any Solid URL</span> : enter the URL in the input bar</li>
		<li><span class="label">
		login, logout, go home, edit profile, set editor prefs</span> : options button</li>
		<li><span class="label">
		toggle viewing data only, editor only, split screen</span> : view button</li>
		<li><span class="label">
		save editing</span> : click on the save edits button</li>
		<li><span class="label">
		cancel editing</span> : open any other file or folder</li>
		<li><span class="label">
		create new file or folder</span> : click on the current folder's icon</li>
		<li><span class="label">
		copy,move,delete,download file</span> : click on the file's icon</li>
		<li><span class="label">
		patch_to a file</span> : click on the patch file's icon (.n3 or .spql extension)</li>
		<li><span class="label">
		copy,move,delete,upload into folder</span> : move into the folder, click on its icon</li>
		<hr>
		<li><span class="label">
		display and manage links</span> : options button</li>
		<li><span class="label">
		view, edit, or cut and paste from a link</span> : click on its link icon</li>
		<hr>
		<li><span class="label">
		rename solid.community links</span> : move into the folder, click on its icon</li> 
	</ul>
</div><!-- end help -->
</div><!-- end app -->


<!--
   FILE DISPLAY & EDITOR & DATA-BROWSER
-->
<div id="fileDisplay" class="rightCol flex-item" v-bind:class="displayState">
    <iframe id="dataBrowser" v-bind:src="file.srcUrl">
    </iframe>
    <div id="editor" style="font-family: Monaco, monospace !important">
    </div>
</div><!-- end fileDisplay -->

<script src="./solid-ide.js"></script>

</body>
</html>
